<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each animals}}
<div><strong>Type:</strong> {{animalType}}</div>
<div><strong>Is it a pet:</strong> {{pet}}</div>
<div><strong>How Fierce:</strong> {{fierceness}}</div>
<br />
{{/each}}