.content {
    width: 800px;
    margin: 0 auto;
}

p {
    line-height: 24px;
}

.fixed, .relative, .absolute {
    text-align: center;
    padding: 20px;
}

.fixed {
    width: 200px;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #eee;
}

.relative {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #eee;
}

.absolute {
    width: 200px;
    bottom: 0px;
    right: -15px;
    position: absolute;
    background-color: #999;
}