<h1>Our wishes</h1>
<ul>
    {{#each wishes}}
        <li>{{id}}. {{wish}}</li>
    {{/each}}
</ul>
<form action="/" method="POST">
    <input type="text" name="wish">
    <button type="submit">Make a wish!</button>
</form>