/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  float: left;
  width: 33.3%;
  background-color: #666;
}

#middle {
  float: left;
  width: 33.3%;
  background-color: #888;
}

#right {
  float: left;
  width: 33.3%;
  background-color: #666;
}

#full {
  clear: left;
  background-color: #eee;
}

#full::after {
  content: "";
  display: block;
  clear: both;
}

#division {
  background-color: #6ea3da;
  padding: 20px;
  margin-top: 20px;
}

aside {
  width: 200px;
  height: 150px;
  margin-left: 20px;
  padding: 20px;
  background-color: #fff;
  float: left;
}

footer {
  background-color: #ccc;
  padding: 20px;
}
